.node {
    min-height: 38px;
    min-width: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.closeBtn {
    cursor: pointer;
    font-size: 12px;
}

.inputNode {
    background-color: #0f4c97;
    color: white;
}
.middleNode {
    border: 2px solid #78a042;
}
.outputNode {
    background-color: #009bba;
    color: white;
}