.node {
    min-height: 35px;
    min-width: 90px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.closeBtn {
    color: red;
    cursor: pointer;
}

.inputNode {
    background-color: #6ede87;
    color: white;
}
.middleNode {
    background-color: #ffb700;
    color: white;
}
.outputNode {
    background-color: #6865A5;
    color: white;
}