.canvasModule {
    display: flex;
}

.leftHeader {
    flex: 1 0 10%;
    padding: 5px;
}

.gotoHead {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 12px;
    color: gray;
}

.nodeName {
    padding-bottom: 5px;
    cursor: pointer;
}

.listBox {
    margin-bottom: 25px;
    max-height: 200px;
    overflow: auto;
}

.actionContainer {
    border: 1px solid black;
    background: white;
    padding: 4px;
    font-size: 12px;
    border-radius: 4px;
}

.actBtn {
    cursor: pointer;
}

.featuresBtnsContainer {
    padding-bottom: 10px;
}

.autoArr {
    color: black;
    background-color: #effaff;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}