.canvasModule {
    display: flex;
}

.leftHeader {
    flex: 1 0 10%;
    padding: 5px;
}

.gotoHead {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 12px;
    color: gray;
}

.nodeName {
    padding-bottom: 5px;
    cursor: pointer;
}

.listBox {
    padding-bottom: 20px;
}